 <h2>Dashboard</h2>
 
  <% Product.all.each do |product| %>
    <div class="container">
      <div class="row">
      <div class="col-sm-7 x" style="background-color:lavender;">
        <h1 align="center"><%= product.product_name %></h1>
        <h5>Price:<%= product.price%></h5>
        <h5>Description:<%= product.description%></h5>
        <div class="col-sm-5" style="background-color:lavenderblush;">
          <%if product.image.attached? %>
            <%= image_tag product.image, size: "150x100"%>
          <%end%>
        </div>
        <%= button_to "Add to cart", cart_items_path(:product_id => product.id) %>
        </p>
      </div>
      </div>
    </div>
    </div>
    <br>
  <% end %>
<style >
.x{
text-align: left;
}
</style>
