<div id="login">
<h3 class="text-center text-blue pt-5">SignUp Form</h3><br/>
  <div class="container">
    <div  class="row justify-content-center align-items-center">
      <div  class="col-md-6">
        <div  class="col-md-12">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <h2 class="text-center text-info">sign up</h2><br/>
            <div  class="container">
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form_group">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true, autocomplete: "name" ,class: "form_group"%>
              </div>

              <div class="form_group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form_group" %>
              </div>

              <div class="form_group">
                <%= f.label :password %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
              </div>

              <div class="form_group">
                <%= f.label :Role %><br>
                <%= f.radio_button :role, 'admin', :checked => true %> 
                <%= f.label  :role_admin, 'Admin' %>
                <%= f.radio_button :role, 'customer' %>
                <%= f.label :role_customer, 'Customer' %>
                <%= f.radio_button :role, 'seller' %>
                <%= f.label :role_seller, 'Seller' %><br><br>
              </div>
              
              <div class="form_group">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form_group" %>
              </div>

              <div class="field">
                  <%= f.label :image %>
                  <%= f.file_field :avatar %>
              </div>
              <div class="actions">
                <%= f.submit "Sign up" %>
              </div>
              <div class= "action">
                <%= link_to 'Home', root_path %>
              </div>
              <div class ="action">
                <li><%= link_to 'Log In', new_user_session_path %></li>
              </div>
             </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>
