<ul><li><%if current_user.avatar.attached? %>
   <img src = "<%= (url_for(current_user.avatar)) %>" alt = "no profile photo" width="12%">
<%end%></li>
<li><h1>Name :<%= current_user.name %></h1></li>
<li><h1>email :<%= current_user.email%></h1></li>
</ul>