Welcome to example.com, <%= @user.name %>
===============================================
 
You have successfully signed up to example.com,

 
To login to the site, just follow this link: <%= @url %>.
 
Thanks for joining and have a great day