<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "login" %>
</head>
<body>

<h2>Login Form</h2>

<%= form_tag("/login", method: "post") do %>
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="cart_name" class="avatar">
  </div>

  <div class="container">
    <%= label_tag :Email%><br/>
    <%= text_field_tag :email%><br/>
     
    <%= label_tag :Password %><br/>
    <%= text_field_tag :password %><br/>
    
    <%= submit_tag "Login" %> <br/>
    
    <%= label_tag "Remember Me" %> <br />
    <%= check_box_tag :remember_me %> <br />
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
  <div class="container signup">
    <p>New User? <a><%= link_to 'signup', signup_path %></a>.</p>
    <p><a><%= link_to 'back', dashboard_index_path %></a>.</p>
  </div>
</form>

<%end%>
</body>
</html>