<!DOCTYPE html>
<html>
<%= stylesheet_link_tag "signup" %>
<body>
<%= form_tag("/create", method: "post") do  %>
  
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    <%= label_tag :name %>
    <%= text_field_tag :name %>

    <%= label_tag :Email %>
    <%= text_field_tag :email %>

    <%= label_tag :Password %>
    <%= text_field_tag :password %>

    <%= label_tag :Role %><br>
    <%= radio_button_tag :role, 'admin', :checked => true %> 
    <%= label_tag :role_admin, 'Admin' %>
    <%= radio_button_tag :role, 'customer' %>
    <%= label_tag :role_customer, 'Customer' %>
    <%= radio_button_tag :role, 'seller' %>
    <%= label_tag :role_seller, 'Seller' %><br><br>

    
    <%= label_tag "Remember Me" %> <br />
    <%= check_box_tag :remember_me %> <br />


    <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>



    <div class="clearfix">
      <%= submit_tag"Cancel", :type => "reset"  %>
      <%= submit_tag "Create" %>
    </div>
    <div class="container sign">
    <p>Already have an account? <a><%= link_to 'login', registration_index_path %></a>.</p>
    </div>
  </div>

<% end %>
</body>
</html>