<h2>All Address</h2>
<% ShippingAddress.all.each do |address1| %>
  <p>pincode: <%= address1.pincode %></p>
  <p>address: <%= address1.address %></p>
  <p>locality: <%= address1.locality %></p>
  <p>type: <%= address1.save_address_as %></p>
<% end %>
<%= button_to "Add address", new_shipping_address_path, method: :get %>
<%= form_for(@order) do |f| %>
  <p>
    <%= f.submit %>
  </p>
<% end%>