<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>
<h2>All Orders</h2>
<div class="container">
  <div class="row">
  <div class="col-sm-7 x" style="background-color:lavender;">
  <% OrderItem.where(:order_id => @order.id).each do |order| %>
   <% Product.where(:id => order.product_id).each do |product| %>
     <li><h1><%= product.product_name %></li>
        <div class="col-sm-5" style="background-color:lavenderblush;">
          <%if product.image.attached? %>
            <%= image_tag product.image, size: "150x100"%>
          <%end%>
          </div>
   <% end %>
   <li><h1>Quantity :<%= order.quantity %><h1></li>
   <li>Price:<%= order.product_cost %></li>
   <li>Total cost :<%= order.total_cost %></li>
  <% end %>
  </p>
        
      </div>
      </div>
    </div>
    </div>
    <br>
</ul>
