
<h2>Cart show</h2>
<% if current_user %>
<ul>
  
  <% if @cart.cart_items.size == 0 %>
     <h5>please add product</h5>
  <% else%>
  <% @cart.cart_items.each do |cart_item| %>
    <div class="container">
      <div class="row">
      <div class="col-sm-7 x" style="background-color:lavender;">
        <h1 align="center"><%= cart_item.product.product_name %></h1>
        <div class="col-sm-5" style="background-color:lavenderblush;">
          <%if cart_item.product.image.attached? %>
            <%= image_tag cart_item.product.image, size: "150x100"%>
          <%end%>
          </div>
        <h5>Price:<%= cart_item.product.price%></h5>
        <h5>Description:<%= cart_item.product.description%></h5>
        <h5>Quantity:<%= cart_item.quantity%></h5>
        <h5>Total Price: <%= cart_item.total_price %><h5>
        
        <%= link_to "Add one", cart_item_add_path(:id => cart_item), method: :post %>tio
        <%= link_to "Reduce one", cart_item_reduce_path(:id => cart_item), method: :post %>
        <%= link_to "Remove item", cart_item_path(cart_item), method: :delete %>
      
      </div>
      </div>
    </div>
  <% end %>
  
</ul>

<h3>Sub total: <%= (@cart.sub_total) %></h3>
<%= link_to "Proceed to checkout", shipping_addresses_path %><br>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}%>
<% end %>
<% else %>
<h5> first login to add item in bag </h5>
<%= link_to "login", new_user_session_path %><br>
<% end %>

<style >
.x{
text-align: left;
}
</style>