<%= form_for @shipping_address do |f| %>
    <p>
      <%= f.label :pincode %><br>
      <%= f.text_field :pincode, required: true, autofocus: true %>
    </p>
    <p>
      <%= f.label :address %><br>
      <%= f.text_area :address %>
    </p>
    <p>
      <%= f.label :locality %><br>
      <%= f.text_area :locality %>
    </p>

    <p>
    <%= f.label :save_address_as %><br>
    <%= f.radio_button :save_address_as, 'home', :checked => true %> 
    <%= f.label  :save_address_as_home, 'Home' %>
    <%= f.radio_button :save_address_as, 'office' %>f
    <%= f.label :save_address_as_office, 'Office' %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end%>