<h2>All Address</h2>

<% ShippingAddress.where(user_id: current_user.id).all.each do |address1| %>
  <p>pincode: <%= address1.pincode %></p>
  <p>address: <%= address1.address %></p>
  <p>locality: <%= address1.locality %></p>
  <p>type: <%= address1.save_address_as %></p>
  <%= link_to 'Edit ', edit_shipping_address_path(address1), :class => "btn btn-primary" %><br>

  <%= link_to ' Destroy', shipping_address_path(address1), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-secondary" %>
  <div class="checkbox">
  <label><input type="checkbox" value="">choose address/<label>
</div>
<% end %>

<%= button_to "Add address", new_shipping_address_path, method: :get %>
<ul>
  <% @current_cart.cart_items.each do |cart_item| %>
    <div class="container">
      <div class="row">
      <div class="col-sm-7 x" style="background-color:lavender;">
        <h1 align="center"><%= cart_item.product.product_name %></h1>
        <div class="col-sm-7 x" style="background-color:lavender;">
        <h1 align="center"><%= cart_item.product.product_name %></h1>
        <div class="col-sm-5" style="background-color:lavenderblush;">
          <%if cart_item.product.image.attached? %>
            <%= image_tag cart_item.product.image, size: "150x100"%>
          <%end%>
          </div>
        <h5>Price:<%= cart_item.product.price%></h5>
        <h5>Description:<%= cart_item.product.description%></h5>
        <h5>Quantity:<%= cart_item.quantity%></h5>
        <h5>Total Price: <%= cart_item.total_price %>
        
        <%= link_to "Add one", cart_item_add_path(:id => cart_item), method: :post %>
        <%= link_to "Reduce one", cart_item_reduce_path(:id => cart_item), method: :post %>
        <%= link_to "Remove item", cart_item_path(cart_item), method: :delete %>
      
      </div>
      </div>
    </div>
    
    
    
  <% end %>
</ul>

<h3>Sub total: <%= (@current_cart.sub_total) %></h3>
<%= link_to "Proceed to order", orders_show_path, data: {confirm: "Are you sure?"}%><br>
<%= link_to "Empty cart", cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"}%>


<style >
.x{
text-align: left;
}
</style>
