<div >
  <h3 class="text-center text-blue pt-5">Login form</h3>
  <div class="container">
    <div  class="row justify-content-center align-items-center">
      <div  class="col-md-6">
        <div  class="col-md-12">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <h2 class="text-center text-info">Log In</h2>
              <div  class="container">
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= f.label :password %><br />
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control"  %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="form_group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                  </div>
                <% end %>
                <div class="actions">
                  <%= f.submit "Log in", class: "btn btn-success" %>
                </div>
                <div class="text-right">
                  <%= link_to 'Register', new_user_registration_path %>
                </div>
                <div class ="action">
                  <%= link_to 'Home', root_path %>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



