<h1 align = "center">All Orders</h1>
<% Order.where(:user_id => current_user.id).all.each do |order| %>
    <div class="container">
      <div class="row">
      <div class="col-sm-7 x" style="background-color:lavender;">
      <h3>Order No. :<%= order.id %></h3>
      <h5>placed on :<%= order.created_at %><h5>
      <div class="container">
      <% OrderItem.where(:order_id => order.id).all.each do |order1| %>
        <div class="container">
          <div class="row">
          <div class="col-sm-7 x" style="background-color:lavender;">
          <% Product.where(:id => order1.product_id).each do |product| %>
            <h1 align = "center"><%= product.product_name %></h1>
            <div class="col-sm-5" style="background-color:lavenderblush;">
            <%if product.image.attached? %>
              <%= image_tag product.image, size: "150x100"%>
            <%end%>
            </div>
          <% end %>
          <h5>Price:<%= order1.product_cost %></h5>                                                          ` ` 
          <h5>Quantity:<%= order1.quantity %></h5>
          <h5>total :<%= order1.total_cost %></h5>    
          </div>
          </div>
        </div>
        </div><br>
      <% end %></div>
        </p>
        <h5>        
      </div>
      </div>
    </div>
    </div>
    <br>
<% end %>
<style >m
.x{
text-align: left;
}
</style>
