<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Release Date</th>
    <th>Price</th>
  </tr>
  <% @products.each do |product| %>
  <tr>
    <td><%= product.id %></td>
    <td><%= product.product_name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
  </tr>
  <% end %>
</table>




<%= form_tag import_products_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<p>
  Download:
  <%= link_to "CSV", products_path(format: "csv") %> 
</p>


























