
<div class = "container">
<h3 class="text-center text-blue pt-5">Add Products </h3><br/>
  <div class="container">
    <div  class="row justify-content-center align-items-center">
      <div  class="col-md-6">
        <div  class="col-md-12">
          <%= form_for @product do |f| %>
            <h2 class="text-center text-info"></h2><br/>
            <div  class="container">
              
              <div class="form_group">
                <%= f.label :Name %><br />
                <%= f.text_field :product_name, autofocus: true,class: "form_group"%>
              </div>

              <div class="form_group">
                <%= f.label :Description %><br />
                <%= f.text_field :description, autofocus: true,class: "form_group" %>
              </div>

              <div class="form_group">
                <%= f.label :price %><br />
                <%= f.text_field :price, autofocus: true,class: "form_group" %>
              </div>
              
              <div class="field">
                <%= f.label :image %>
                <%= f.file_field :image %>
              </div>

              <div class="actions">
                <%= f.submit "Add" %>
              </div>

              <div class= "action">
                <%= link_to 'Back', root_path %>
              </div>
             </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
</div>