<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link"  href="">Home</a>
                </li>
            </ul>
            

            <%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="input-group">  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>
</form>
            <% if current_user %>
            
            

              <ul class="navbar-nav m-auto">
                <li class="nav-item">
                <div class="nav-link">Notifications (<b id="notifications-count">2</b>)</div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                <a href="notifications#index" class="rIcon allRead" data-tooltip="tooltip" data-placement="bottom" title="tümü okundu."><i class="fa fa-dot-circle-o"></i></a>
              </div></div>
                </li>
        
     
                  <li><a class="nav-link"  href="users/edit">Edit Profile</a></li>

                  <%if current_user.role == "customer" %>
                  <li class="nav-item">
                  <a class="btn btn-success btn-sm ml-3" href="carts/index">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light"></span>
                    </a></li>

                    <li><a class="navbar-brand" href="users/show">Profile</a>
                     <button class="navbar-toggler" type="button data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                    </button></li>

                    <%= link_to "order details", order_items_path, method: :get %></br>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete%>
                  <% end %>
                  <% if current_user.role == "admin"%>
                    
                    <li class="nav-item">
                      <a class="nav-link"  href="products">ProductList</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link"  href="products/new">Add Product</a>
                    </li> 
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                 
                       
                  <% end %>
                  <% if current_user.role == "seller"%>
                  <li class="nav-item">
                  <a class="nav-link"  href="products">ProductList</a>
              </li>
              <li class="nav-item">
              <a class="nav-link"  href="products/new">Add Product</a>
          </li> 
        
          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
         
          <% end %>
          <li><%if current_user.avatar.attached? %>
          <img src = "<%= (url_for(current_user.avatar)) %>" alt = "no profile photo" width="12%">
        <%end%></li>

             <% else %>
                <li class="nav-item">
                <a class="nav-link" href="users/sign_up">Sign up</a>
                   
                </li>
                <li class="nav-item">
                <a class="nav-link" href="users/sign_in">login</a>
                </li>                                    

            
            <% end %>
        </div>
    </div>
</nav>
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">E-COMMERCE PRODUCT</h1>
         </div>
</section>